.order-page {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8f8;
}

.order-page .order-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* order-left */

.order-page .order-container .order-left {
  display: flex;
  flex-direction: column;
  width: 860px;
  height: auto;
}

.order-page .order-container .order-left .order-nav-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 60px;
  border-bottom: 1px solid #f8f8ff;
}

.order-page .order-container .order-left .order-nav-frame .table-list {
  display: flex;
  justify-content: space-between;
}

/* order-right */

.order-page .order-container .order-right {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  margin-top: 86px;
  margin-left: 80px;
}

.order-page .order-container .order-right .order-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: auto;
  padding: 20px;
  background: #f8f8ff;
  box-shadow:
    15px 14px 4px rgba(0, 0, 0, 0.25),
    inset -1px 0px 16px 13px rgb(24 23 112 / 20%);
  border-radius: 16px;
  margin-bottom: 25px;
}

.order-page .order-container .order-right .order-info-box .member-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-page
  .order-container
  .order-right
  .order-info-box
  .member-box
  .order-user-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-page
  .order-container
  .order-right
  .order-info-box
  .member-box
  .order-user-avatar {
  width: 117px;
  height: 112px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 37px;
}

.order-page
  .order-container
  .order-right
  .order-info-box
  .member-box
  .order-user-icon-box {
  position: absolute;
  right: 0;
  bottom: -5px;

  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.33);
  border-radius: 37px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.order-page
  .order-container
  .order-right
  .order-info-box
  .member-box
  .order-user-icon-box
  .order-user-prof-img {
  filter: brightness(0) invert(1);
}

.order-page
  .order-container
  .order-right
  .order-info-box
  .member-box
  .order-user-name {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #08090d;

  margin-top: 10px;
}

.order-page
  .order-container
  .order-right
  .order-info-box
  .member-box
  .order-user-prof {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #a1a1a1;
}

.order-page .order-container .order-right .order-info-box .liner {
  width: 100%;
  border: 1px solid #a1a1a1;
  margin-top: 40px;
  margin-bottom: 8px;
}

.order-page .order-container .order-right .order-info-box .order-user-address {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 90%;
}

.order-page .order-container .order-right .order-info-box .do-not-exist {
  margin-left: 5px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #616164;
}

.order-page .order-container .order-right .order-info-box .card-input {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  height: 40px;
  background: #f5f5f5;
  border-radius: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: 0.5px solid #b3a6a6;
  letter-spacing: -0.02em;
  color: #434141;
}

.order-page .order-container .order-right .order-info-box .card-half-input {
  margin-top: 10px;
  padding: 10px;
  width: 49%;
  height: 40px;
  background: #f5f5f5;
  border-radius: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: 0.5px solid #b3a6a6;
  letter-spacing: -0.02em;
  color: #434141;
}

.order-page .order-container .order-right .order-info-box .cards-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
  width: 80%;
}

/* PausedOrders, ProcessOrders, FinishedOrders */

.order-page .order-container .order-main-content {
  width: 855px;
  height: auto;
}

.order-page .order-container .order-main-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 285px;
  background: #f8f8ff;
  box-shadow:
    -13px 16px 4px rgba(0, 0, 0, 0.25),
    inset 0px -3px 20px 11px #18177033;
  border-radius: 16px;
  margin-bottom: 25px;
}

/* order-box-scroll */

.order-page .order-container .order-main-box .order-box-scroll {
  display: flex;
  flex-direction: column;
  align-items: start;

  position: relative;
  width: 100%;
  min-height: 105px;
  max-height: 205px;
  margin-top: 15px;

  overflow: auto;
}

.order-page
  .order-container
  .order-main-box
  .order-box-scroll
  .orders-name-price {
  position: relative;
  height: 47px;
  margin-left: 50px;
  margin-top: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-page
  .order-container
  .order-main-box
  .order-box-scroll
  .orders-name-price
  .order-dish-img {
  position: relative;
  width: 50px;
  height: 47px;
  border-radius: 29px;
  background-size: cover;
}

.order-page
  .order-container
  .order-main-box
  .order-box-scroll
  .orders-name-price
  .title-dish {
  position: relative;
  width: 260px;
  height: 36px;
  margin-left: 20px;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
}

.order-page
  .order-container
  .order-main-box
  .order-box-scroll
  .orders-name-price
  .price-box {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 170px;
  margin-left: 150px;
}

.order-page
  .order-container
  .order-main-box
  .order-box-scroll
  .orders-name-price
  .price-box
  p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #262626;
}

/* total-price-box */

.order-page .order-container .order-main-box .total-price-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  position: relative;
  width: 100%;
  height: 41px;
  margin: 7px 0 7px 0;

  box-sizing: border-box;
  border-radius: 5px;
  overflow: auto;
}

.order-page .order-container .order-main-box .total-price-box .box-total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
  max-width: 535px;
  height: 100%;
}

.order-page .order-container .order-main-box .total-price-box .box-total p {
  margin-left: 20px;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #000000;
}

.order-page
  .order-container
  .order-main-box
  .total-price-box
  .box-total
  .data-compl {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #000000;
}

.order-page .order-container .order-main-box .total-price-box .cancel-button {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order-page .order-container .order-main-box .total-price-box .pay-button {
  background: #56b74d;
  color: #f8f8ff;
  border-radius: 10px;
  max-height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order-page .order-container .order-main-box .total-price-box .verify-button {
  background: #0288d1;
  color: #f8f8ff;
  border-radius: 10px;
  box-shadow:
    0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
